@page "/"

<h1>Welcome come to CaBlazorTemplate  Application</h1>

<p></p>
<ul>
    <li><strong>Features</strong></li>
    <li>Clean Architechture (Onion)</li>
    <li>CQRS (Command and Query Responsibility Segregation)</li>
    <li>(BFF) back-end for front-end</li>
    <li>CSP (configurable for CDN URL)</li>
    <li>B2C intregration</li>
    <li>Serilog</li>
    <li>Azure KeyVault for Secrets</li>
</ul>